:root {
  --primary-color: #008080;
  --secondary-color: #9ACD32;

  --light-font: #fff;

  --border-color: #9ab1be;
  --active-color: #2b3811;
  --visited-color: #9ACD32;
  --background-color: #fff;

  --color-change1: #edc655;
  --color-change2: #fcffad;
  --color-change3: #f76414;

  --heading-font-weight: 700;
  --padding-left: 35px;
  --padding-right: 35px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 25px;
  font-weight: var(--heading-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--heading-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--heading-font-weight);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  cursor: pointer;
  font-style: italic;
}

a:visited {
  color: var(--visited-color);
}

a:active {
  color: var(--active-color);
}

.button, button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--light-font);
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 1px 15px;
  border-bottom: 2px solid var(--border-color);
  transition-duration: 0.5s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

a.button {
  color: white;
}

.page-header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  margin: auto;
  width: 100%;
  height: 60px;
  z-index: 100;
}

.page-header__item {
  flex: 0 1 200px;
}

/* logo specs */
.page-header__item:first-child {
  padding-left: 10px;
  height: 50px;
}

/* navbar specs */
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  padding-top: 5px;
  padding-right: 15px;
}

a.navigation-list {
  color: var(--secondary-color);
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  font-weight: 700;
}

.profile {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 10%;
  padding-right: 10px;
  padding-left: 10px;
}

.profile__text {
  flex: 1 1 100px;
}

.profile h1 {
  margin-top: 15%;
}

.berlin-illustration {
  float: left;
  max-width: 60%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: var(--color-change1);
  }
  50% {
    fill: var(--color-change2);
  }
  100% {
    fill: var(--color-change3);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* about.html*/
.profile__portrait {
  float: left;
  max-width: 250px;
  height: auto;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 50%;
}

.about {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  text-align: justify;
  text-justify: inter-word;
}

.about__text {
  flex: 1 1 100px;
}

span {
  padding: 0px 5px;
  display: inline-block;
  background: var(--secondary-color);
  border-radius: 1px 15px;
}

span.emoji {
background: none;
}

.resume-button {
  margin: 0 auto;
  text-align: center;
  color: var(--light-font);
}

.skills-tools {
  margin: 0 auto;
  margin-bottom: 80px;
}

b {
  text-decoration:underline;
  text-decoration-color: var(--secondary-color);
}

/* from work.html, the grid section*/
.work {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

.edge {
  padding-top: 80px;
}

.project {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  padding-bottom: 80px;
}

.project__picture{
  float: right;
  max-width: 550px;
  height: auto;
  margin-right: 40px;
  margin-left: 40px;
  border: 1px solid grey;
  border-radius: 10%;
}

.contact-details {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 80px;
  text-align: center;
  vertical-align: middle;
}


/* Grid fallback*/
.grid__item {
  display: inline-block;
  width: 33%;
}

/* Styling grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid h3 {
  padding: 0;
  margin: 0;
}

.grid__item {
  background-color: var(--primary-color);
  padding: 10px 25px;
  /* Set width to auto */
  width: auto;
  border-radius: 1px 45px;
  color: var(--light-font);
  text-align: center;
}

.grid__item a {
  color: var(--secondary-color);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: var(--primary-color);
  margin: auto;
  width: 100%;
  height: 4%;
  z-index: 100;
}

.page-footer__item {
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media all and (max-width: 650px) {
  .profile__portrait,
  .project__picture,
  .berlin-illustration {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
